/* 
Mobile: 319px - 480px
Tablet: 481px - 1200px
notbook: 1201px - 1600px
Desktop ou TV: acima de 1601px
*/

body {
    background-color: aquamarine;
}

@media (min-width: 319px) and (max-width: 480px) {
    body {
        background-color: lightsalmon;  
    }
}

@media (min-width: 481px) and (max-width: 1200px) {
    body {
        background-color: rgb(238, 236, 144);  
    }
}

@media (min-width: 1201px) and (max-width: 1600px) {
    body {
        background-color: rgb(235, 224, 255);  
    }
}

@media (min: 1601px) {
    body {
        background-color: rgb(104, 10, 10);  
    }
}